.header__cart-button {
    grid-area: header__cart-button;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 820px) {
    .header__cart-button {
        gap: 10px;
    }

    .header__cart-button img {
        height: 20px;
    }
}
