.header__titles-container {
    grid-area: header__titles-container;
    padding-right: 10px;
    height: 83px;
}

@media only screen and (min-width: 820px) {
    .header__titles-container {
        display: flex;
        align-items: baseline;
        height: fit-content;
        gap: 10px;
    }
}
