@import 'common.blocks/header/header.css';
@import 'common.blocks/body/body.css';
@import 'common.blocks/main/main.css';
@import 'common.blocks/footer/footer.css';
@import 'common.blocks/article/article.css';
@import 'common.blocks/html/html.css';

* {
    --main-color: #404040;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    color: var(--main-color);
  }
