.header__nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 820px) {
    .header__nav-list {
        flex-direction: row;
        gap: 16px;
    }
}

@media only screen and (min-width: 1300px) {
    .header__nav-list {
        width: fit-content;
        gap: 30px;
    }
}
